/* font */
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 1. CSS Variables */
:root {
    --Kufam-font: "Kufam", serif;
    --Nunito-font: "Nunito", serif;
    --font-size-base: 16px;
    --line-height: 1.5;
    --border-radius: 8px;
    --primary-color: #1da599;
    --primary-hover-color: #188577;
    --secondary-color: #ffc265;
    --secondary-hover-color: #d9a24e;
    --background-color: #ffffff;
    --heading-color: #4a4a4a;
    --paragraf-color: #454545;
}

/* 2. Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
}

a {
    color: var(--paragraf-color);
}

body {
    background-color: var(--background-color);
}

/* 3. Utility Classes */
.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

/* Flexbox Layout */
.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}


.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.m-center {
    margin: 0 auto;
}

.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}

.border {
    border: 1px solid red;
}


/* Button Styles */
.button {
    padding: .9rem 2.5rem;
    border-radius: var(--border-radius);
    color: var(--paragraf-color);
    transition: background-color 0.3s ease;
    font-family: var(--Nunito-font);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    width: fit-content;
}

.button-primary {
    background-color: var(--primary-color);
    color: white;
}

.button-primary:hover {
    background-color: var(--primary-hover-color);
}

.button-secondary {
    background-color: var(--secondary-color);
}

.button-secondary:hover {
    background-color: var(--secondary-hover-color);
}


section {
    padding: 4rem 0;
}

.section-title {
    font-size: clamp(1.5rem, 2rem + 1vw, 3rem);
    font-family: var(--first-font);
    color: var(--heading-color);
    font-family: var(--Kufam-font);
    font-weight: bold;
    line-height: 1.4;
}

.text-content {
    line-height: 1.5;
    color: var(--paragraf-color);
    font-size: .9rem;
    font-family: var(--Nunito-font);
    font-weight: 600;
}

#menu-trigger {
    display: block;
    font-size: 1.5rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-hover-color);
    transition: .3s all ease-in-out box-shadow;
}

#menu-trigger:hover {
    box-shadow: 0 0 10px rgba(29, 165, 153, .5);
}

.container {
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    gap: 2rem;
    display: none;
}

.nav .logo img {
    width: 150px;
    height: auto;
}

.navbar .nav-link {
    font-size: 1.2rem;
    font-family: var(--Nunito-font);
    font-weight: 600;
}

.hero {
    padding-bottom: 4rem;
}

.hero-content {
    order: 1;
}

.hero-content .button-secondary {
    margin-top: 1rem;
}

.hero-image {
    order: 0;
    width: 100%;
    display: flex;
    width: 100%;
}

.hero-image img {
    margin: auto;
    width: 400px;
    height: 538px;
}

.about {
    background-color: #f3fffe;
}


.about-content {
    height: 100%;
}

.about-content li {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    font-family: var(--Nunito-font);
}

.icons {
    width: 36px;
    height: 36px;
    margin-right: 1rem;
}

.card-package {
    width: 361px;
    height: max-content;
    gap: 10px;
    padding: 1rem 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(29, 165, 153, 0.15);
    background-color: #fff;
}

.class {
    width: 52px;
    height: 24px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffc265;
}

.spesifikasi {
    padding: .8rem 2rem;
    background-color: #c1fffa;
    font-family: var(--Nunito-font);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #1da599;
    position: relative;
    left: 1rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.item-content h2 {
    font-family: var(--Kufam-font);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #4a4a4a;
}

.price {
    width: 259px;
    height: 28px;
    flex-grow: 0;
    font-family: Kufam;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}

.price span {
    color: #1da599;
}

/* Media Queries for Responsiveness */

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .d-grid {
        grid-template-columns: repeat(2, 1fr);
    }



    .hero-content {
        order: 0;
    }

    .hero-image {
        order: 1;
    }
}

@media (min-width: 992px) {
    .hero-image img {
        max-width: 500px;
    }
}

@media (min-width: 1200px) {
    #menu-trigger {
        display: block;
    }
}

@media (min-width: 1400px) {}